*{
    padding: 0;
    margin: 0;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #4ECDC4;
    text-align: center;
}

h1{
    color: #292F36;
    font-size: 3rem;
    /* margin-top: 3rem; */
    margin-bottom: 2rem;
    display: block;
    background-color: #269b93;
}

#winnerHd{
    color: #292F36;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 0;
    display: block;
    background-color: #4ECDC4;
}

.game-layout{
    height: 68vh;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.game-btn{
    background-color: #F7FFF7;
    width: 10.3vw;
    height: 18.6vh;
    border: none;
    color: #292F36;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 5.4rem;
}



.reset-btn{
    background-color: #292F36;
    color: #F7FFF7;
    height: 70px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
}